<h1>Reset your password</h1>

<%= form_with model: @user, url: password_reset_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, autocomplete: "email" %>
  </div>

  <div>
    <%= form.submit "Request password reset"%>
  </div>
<% end %>